p::selection,
span::selection,
code::selection,
pre::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
button::selection,
div::selection,
input::selection,
select::selection {
  background-color:$primary-20;
  color:$gray-80;
}

html, body {
  margin:0;
  padding:0;
}

.hover {  //deploy to all hovered components with @extend .hover
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
}

div.clear {
  clear:both;
}
