// global variables

$primary-font:'PT Sans', sans-serif;
$super-font:'Playfair Display', serif;
$page-width:75em;
$light-grey:#d6dde5;
$grey:#82878b;
$red:#894d53;
$button-border-radius:8px;
$content-border-radius:8px;

// nav variables

$nav-height:5em;
$nav-container-height:3.5em;


// global

body,html,div {
	font-family:$primary-font;
	font-weight:300;
	font-size:0.99em;
	margin:0;
	padding:0;
}

a {
	color:$grey;
}

a:hover {
	color:$red;
	@extend .hover;
}

.horizontal-center {
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

strong {
	font-family:$primary-font;
	font-weight:500;
}

.hover {
	-o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.bold {
	font-weight:600;
}

ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

button {
	border-radius:$button-border-radius;
	font-family:$primary-font;
	font-weight:300;
	font-size:1.3em;
	margin-top:1em;
	margin-bottom:0;
	@extend .horizontal-center;
}

button:focus {
	outline:0;
}

input:focus {
	outline:none;
}



// nav

.container-page {
	margin:0 auto;
	max-width:$page-width;
}

.section-nav-primary {
	border-bottom:1px solid $light-grey;
	height:$nav-height;
	width:100%;
	left:0;
	right:0;
	position:absolute;
}

.container-nav {
	height:$nav-container-height;
	margin:0 auto;
	width:$page-width;
	@extend .horizontal-center;
}

.HAlogo {
	float:left;
	position:relative;
	transform:translateY(7%);
	width:10em;
}

.wrapper-left {
	display:inline-block;
	height:$nav-container-height;
	width:28em;

	ul {
		float:right;
		margin:0;
		padding:0;
		@extend .horizontal-center;

		li {
			display:inline-block;
			list-style-type:none;
			margin:0 0.2em;
			padding:0.5em;
		}


		li.first {
			margin-left:0;
		}

		li.last {
			margin-right:0;
		}

	}

}

.wrapper-right {
	height:$nav-container-height;
	width:24em;
	float:right;
	@extend .horizontal-center;

}

.container-location {
	border:1px solid white;
	border-radius:$button-border-radius;
	height:2em;
	padding:0.5em 0.5em;
	width:12em;
	@extend .horizontal-center;
	@extend .hover;
}

.container-location:hover {
	border:1px solid $light-grey;
}

.location-icon {
	height:1.5em;
	position:relative;
	transform:translateY(7%);
}

.location {
	display:inline;
	position:relative;
	top:-10%;
}

.container-other-links {
	float:right;
	height:2em;
	position:relative;
	text-align:right;
	top:-87%;
	transform:translateY(30%);
	width:9,5em;

	a {
		color:black;
		position:relative;
		text-decoration:none;
		top:19%;
		margin-left:1em;
	}

	.login {
		@extend .hover
	}

	a:hover {
		color:$red;
	}
}


// header

.section-header-strip {
	position:relative;
	top:$nav-height;
}

.container-header {
	background-color:$red;
	border-radius:$content-border-radius;
	height:37em;
	position:relative;
	top:1.7em;
	width:100%;
}

.text-header {
	font-family:$super-font;
	font-size:3em;
	top:0;
}

.text-subheader {
	font-family:$primary-font;
	font-size:1.4em;
	font-weight:400;
	line-height:1.5em;
}

.container-header-text {
	height:14em;
	width:57.7em;
	left:12%;
	float:left;
	@extend .horizontal-center;

	h1,h2 {
		color:white;
		margin:0;
		position:relative;
		top:0;

	}


	h1 {
		@extend .text-header;
	}

	h2 {
		@extend .text-subheader;
		margin-top:1em;
	}
}


//selections

.section-button-strip {
	height:37em;
	margin:0 auto;
	width:100%;
}

.container-selection-outer {
	margin:0 auto;
	position:relative;
	text-align:center;
	width:100%;

	.left {
		float:left;
	}

	.right {
		float:right;
	}
}

.selection {
	border:1px solid $light-grey;
	border-radius:$content-border-radius;
	display:inline-block;
	height:27em;
	margin:8.5em 0 2em 0;
	text-align:center;
	width:31.4%;
	@extend .hover;

	.container-selection-inner {
		height:20em;
		margin:0 auto;
		width:100%;
		@extend .horizontal-center;
	}

	.text {
		line-height:1.5em;
		top:0;
	}

	.image {
		margin:2em auto 0 auto;
		position:relative;
		width:70%;
		height:12em;
		background-color:black;
	}

}

.selection:hover {
	border:1px solid $red;
}

.image.first {
	background-image: url(../../media/findadoctor.jpg);
	background-size:cover;
}

.image.second {
	background-image: url(../../media/findapharmacy.jpg);
	background-size:cover;
}

.image.third {
	background-image: url(../../media/talktoaguide.jpg);
	background-size:cover;
}


//Find the right plan

.findtherightplan {
	border-bottom:1px solid $light-grey;
	height:18em;
	margin:0 auto 4em auto;
	left:0;
	right:0;
	position:absolute;
	width:100%;
}

.container-findtherightplan-inner {
	height:18em;
	margin:0 auto;
	width:$page-width;
}

.container-left-findtherightplan {
	display:inline-block;
	height:9em;
	position:relative;
	top:14%;
	width:50%;

	p {
		color:black;
	}

	p.text-subheader {
		margin-bottom:0;
	}

	p.text-header {
		margin-top:0;
	}
}

.container-right-findtherightplan {
	display:inline-block;
	float:right;
	position:relative;
	text-align:right;
	top:37%;
	width:50%;

	button {
		padding:0.4em 2.7em;
	}
}

.white-button {
	background-color:white;
	border:1px solid $light-grey;
}

.white-button:hover {
	border:1px solid $red;
	@extend .hover;
}

.red-button {
	background-color:$red;
	border:1px solid $red;
	color:white;
	margin-left:1.3em;
}

.red-button:hover {
	background-color:white;
	color:$red;
	@extend .hover;
}


// footer

footer {
	height:27em;
	position:relative;
	top:18em;
}

.footer-section {
	border-bottom:1px solid $light-grey;
	display:inline-block;
	float:right;
	height:75%;
	position:relative;
	text-align:left;
	top:50%;
	transform:translateY(-50%);
	width:16.75%;
}

.footer-text {
	color:$grey;
	line-height:1.8em;
}

.footer-1 {
	float:left;
	width:33%;

	.search-box {
		background-color:transparent;
		border:0px solid;
		border-bottom:1px solid $light-grey;
		color:$grey;
		font-size:1.4em;
		font-weight:100;
		height:1.8em;
		letter-spacing:0.1em;
		line-height:0;
		width:87%;
	}

	.search-button {
		background-color:transparent;
		border:none;
		font-size:1.4em;
		left:-1.8em;
		top:0.8em;
		width:10%;
	}

}


// bottom nav

.bottom-nav {
	height:3.4em;
	position:relative;
	top:14.7em;
	width:100%;

}

.container-bottom-nav-outer {
	margin:0 auto;
	max-width:$page-width;
	@extend .horizontal-center;
	width:100%;
}

.container-bottom-left {
	width:45em;

	li {
		display:inline-block;
		font-size:0.9em;
		margin-right:2em;
	}
	
}

.container-bottom-right {
	float:right;
	position:relative;
	top:50%;
	transform:translateY(-70%);
}

.social-icon {
	background-color:red;
	margin-left:1em;
	height:2.5em;
	width:2.5em;
	position:relative;
	top:50%;
	transform:translateY(5%);
}















