$primary-color: #c6538c;
$white: #ffffff;
$black: #212326;
$purple-60: #6362CA;
$purple-70: #4D4CAC;
$purple-80: #3B3A8D;
$grey-10: #FAFAFA;
$grey-20: #F2F2F2;
$grey-30: #E0E0E1;
$grey-50: #999A9B;
$grey-80: #37393C;
$dark-50: rgba(33, 35, 38, 0.62);
$dark-30: rgba(33, 35, 38, 0.14);
$yellow-20: #FFF4DB;
