div.ko {
	background-color: $white;
	box-shadow: -2px 0px 28px rgba(81, 73, 73, 0.25);
	height: 100vh;
	position: fixed;
	right: -402px;
	width: 402px;
	z-index: 2;

	div.header {
		box-sizing: border-box;
		box-shadow: 0px 2px 10px rgba(44, 48, 54, 0.16);
		background-color: $purple-80;
		padding: 24px 16px 30px 16px;

		div.top {
			margin-top: 6px;
			padding: 0 6px;

			h3 {
				color: $white;
				float: left;
			}

			img.close {
				float: right;
				cursor: pointer;
				width: 34px;
			}

		}

		input::before {
			content: url(../assets/search.svg);
		}
	}

	div.content {
		padding: 24px;

		p.large {
			font-family: $avenir-medium;
			margin-bottom: 16px;
		}
	}

	p.item {
		@include p-small;
		color: $purple-70;
		cursor: pointer;
		margin-bottom: 8px;
	}

	p.item:before {
		content: url('../assets/file.svg');
		margin-right: 12px;
		position: relative;
		top: 5px;
	}

	div.conversation {
		border-top: 1px solid $grey-30;
		box-sizing: border-box;
		bottom: 74px;
		position: absolute;
		height: 289px;
		padding: 32px 24px;
		width: 100%;

		div.card {
			background: $white;
			border: 1px solid $white;
			border-radius: 8px;
			box-shadow: 0px 8px 28px rgba(44, 48, 54, 0.12);
			box-sizing: border-box;
			padding: 32px 24px 25px 24px;
			margin: 0 auto;
			max-width: 354px;
		}

		p.large {
			margin-bottom: 24px;
		}

		p.xsmall {
			margin-bottom: 4px;
		}

		p.xsmall-bold {
			@include p-xsmall;
			font-family: $avenir-medium;
			margin-bottom: 4px;
		}

		button {
			@include p-small;
			color: $white;
			margin-bottom: 0;
			margin-top: 20px;
			padding-left: 55px;
			position: relative;
		}

		button:before {
			content: url('../assets/comment.svg');
			margin-right: 8px;
			position: absolute;
			left: 24px;
		}

		div.chat-block:hover {
			box-shadow: 0px 8px 28px rgba(44, 48, 54, 0.12);
			@include hover;
		}

	}

	div.conversation-existing {
		@extend .conversation;
		display: none;

		div.chat-block {
			background-color: $grey-10;
			box-sizing: border-box;
			cursor: pointer;
			margin-bottom: 24px;
			margin-left: -24px;
			padding: 19px 24px;
			position: relative;
			width: calc(100% + 48px);

			div.notification {
				border: none;
				position: relative;
				bottom: 24px;
				right: 0;
				display: inline-block;
				width: 10px;
				height: 10px;
			}

			div.text {
				display: inline-block;
				margin-left: 10px;

				p.xsmall-light {
					margin-bottom: 4px;
					margin-top: 4px;
				}

				p.xsmall {
					margin-bottom: 0;
				}
			}

			img.circle {
				float: left;
			}

			img.arrow {
				right: 24px;
				position: absolute;
				top: 40%;
			}

		}

		button {
			color: $purple-70;
			border: 1px solid $white;
			position: absolute;
			padding: 2px 2px 2px 27px;
			bottom: 20px;
		}

		button:hover {
			background-color: transparent;
			color: $purple-70;
		}

		button:before {
			content: url('../assets/pen.svg');
			position: absolute;
			left: 0;
		}

	}

	div.footer {
		background-color: $white;
		bottom: 0;
		box-shadow: 0px 8px 28px rgba(44, 48, 54, 0.12);
		box-sizing: border-box;
		padding: 16px;
		position: absolute;
		width: 100%;

		p.external {
			@include p-xsmall;
			color: $purple-70;
			cursor: pointer;
			margin: 0;
			float: left;
			padding: 0;
			position: relative;
			top: -5px;
		}

		p.external:before {
			content: url('../assets/external.svg');
			margin-right: 4px;
			position: relative;
			top: 7px;
		}

		p.scroll {
			@include p-xsmall;
			color: $purple-70;
			cursor: pointer;
			margin: 0;
			float: right;
			padding: 0;
			position: relative;
			top: 3px;
		}

		p.scroll:before {
			content: url('../assets/scroll.svg');
			margin-right: 8px;
			position: relative;
			top: 3px;
		}
	}
}
